---
---

<div class="no-print">
    <a href="/leaves/an-introduction-to-bushel">What is Bushel<span>&gt</span></a>
    <a href="https://github.com/DoomishFox/bushel">View on GitHub<span>&gt</span></a>
</div>
<style>
    div {
        text-align: center;
        line-height: 50px;
		background-color: var(--bg-highlight);
    }
    a {
        text-decoration: none;
        color: var(--text-subtle);
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
    }
    a:hover {
        color: var(--url-hover);
    }
    a span {
        opacity: 0;
    }
    a:hover span {
        opacity: 1;
    }
    @media print
    {    
        .no-print, .no-print *
        {
            display: none !important;
        }
    }
</style>
