---
import type { LeafDetails } from "#database/leaf.ts";
import { GetLeafSourceString } from "#database/leaves.ts";
import type { Notebook as NotebookFormat, Cell } from "#database/nbformat.ts";
import { Notebook } from "./Editor/Notebook.react";

interface Props {
    leaf_id?: string;
    metadata?: LeafDetails;
}

const { metadata } = Astro.props;

const new_leaf_id = "new-leaf";

const leaf_metadata = metadata ?? {
    id: "new-leaf",
    path: "/new/",
    title: "untitled leaf",
    created_by: undefined,
    last_modified_date: new Date(),
    backlinks: undefined,
};
// TODO: fix this dumb shit
const contentjson =
    leaf_metadata.id != new_leaf_id
        ? await GetLeafSourceString(leaf_metadata.id!) ?? "{}"
        : "{}";

// deserialize content json
const content: NotebookFormat = JSON.parse(contentjson);
---

<div class="page-content">
    <Notebook
        client:only="react"
        metadata={leaf_metadata}
        cells={content.cells}
    />
</div>
